<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pokemon show page</title>
    </head>
    <body>
        <h1>Pokemon show page</h1>
        The wild <%= pokemon.name %> is pretty cool <img src="<%= pokemon.img %>">
    </body>
</html> 