<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= pokemon.name %> show page</title>
    </head>
    <body>
        <h1><%= pokemon.name %> show page</h1>
        The wild <%= pokemon.name %> is pretty cool <img src="<%= pokemon.img %>" alt="Pokemon">
    </body>
</html> 