<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/users/login" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
        Username: <input type="text" name="username"/><br/>
        Password: <input type="text" name="password"/><br/>
	
		<input type="submit" name="" value="Login"/>
        </form>
    </body>
</html>